.box {
    width: 200px;
    background: #252B42;
    border-radius: 5px;
    padding: 35px 46px 24px 46px;
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #8C98C6;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #8C98C6;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.followers h1 {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2px;
    color: #FFFFFF;

}

.scale {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}

.arrow {
    margin-bottom: 3px;
}

.positive {
    color: #1EB589;
}

.negative {
    color: #DC414C;
}