
.box{
    width: 255px;
    padding: 24px 18px;
    background: #252B42;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row:nth-child(2){
    margin-top: 25px;
}
.percentage{
    display: flex;
    align-items: center;
    gap: 4px;
}