.nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #8C98C6;
}
.logo{
    
}
.row{
    display: flex;
    gap: 13px;
    align-items: center;
}
.btn{
    width: 48px;
    height: 24px;
    background: linear-gradient(225deg, #40DB82 0%, #388FE7 98.02%);
    border-radius: 12px;
    border: none;
}
.btn span{
    width: 18px;
    height: 18px;
    background-color: #252B42;
    border-radius: 50%;
    padding: 5%;
    margin-left: -25px;
}